<!DOCTYPE html>
<html>
  <head>
    <title>Power calculator</title>
  </head>
  <body>
     Hello From Index
     Use /api/ for your power calculator needs
    <div id="app"></div>
    <script src="/dist/bundle.js"></script>
  </body>
</html>